@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.drop {
  filter: drop-shadow(9px 18px 30px #333);
}

.info {
  margin: 0;
  background: linear-gradient(90 deg, rgba(1, 1, 10.5) 0%, #444, 68%);
}
